repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=10240"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--config=pyproject.toml", "--fix"]
      - id: ruff-format
        args: ["--config=pyproject.toml"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: ["--prose-wrap=always"]
        files: "\\.(md|yaml|yml|json)$"
        additional_dependencies:
          - prettier@3.3.3
