defaults:
  - paths@paths: default
  - data@data: shopee
  - transforms@transforms: shopee

  - matching/alpha_qe@matching.alpha_qe: alpha_qe
  - matching/knn@matching.knn: knn
  - matching/threshold@matching.threshold: threshold

  - logging@logging: mlflow
  - _self_

task: infer
seed: ${data.seed}

# what split to infer on
split: "test" # train | test

# Triton endpoints (no docker; you run tritonserver locally/remotely)
triton:
  url: ${oc.env:TRITON_URL,localhost:8001} # gRPC port
  timeout_s: 60

  # Triton model names (you will create these later in model repo)
  image_model_name: "image_encoder"
  text_model_name: "text_encoder"

# embedding settings
embedding:
  l2_normalize: true
  concat_folds: true
  num_folds: ${data.num_folds}
  per_modality_dim: 768

output:
  submission_path: ${paths.submissions_dir}/submission.csv

hydra:
  run:
    dir: ${paths.hydra_out_dir}/${now:%Y-%m-%d}/${now:%H-%M-%S}_${task}
