defaults:
  - paths: default
  - _self_

task: serve

tritonserver:
  binary: ${oc.env:TRITONSERVER_BIN,tritonserver}
  model_repository: ${paths.triton_model_repo}

  http_port: 8000
  grpc_port: 8001
  metrics_port: 8002

  log_verbose: 0
