defaults:
  - paths: default

serve:
  image_onnx: ${paths.models_dir}/onnx/image/fold_0/model.onnx
  text_onnx: ${paths.models_dir}/onnx/text/fold_0/model.onnx
  tokenizer: cahya/distilbert-base-indonesian
  out_dir: ${paths.models_dir}/mlflow/twincart_onnx_matcher
  image_h: 420
  image_w: 420
  text_max_len: 64
